[submodule "tests/test262"]
	path = tests/test262
	url = https://github.com/tc39/test262.git
[submodule "tests/node"]
	path = tests/node
	url = https://github.com/nodejs/node.git
[submodule "quench-bench/js-engine-benchmark"]
	path = quench-bench/js-engine-benchmark
	url = https://github.com/ahaoboy/js-engine-benchmark.git
[submodule "crates/quench-wasm-test/testsuite"]
	path = crates/quench-wasm-test/testsuite
	url = https://github.com/WebAssembly/testsuite.git
